version: '2'

services:
  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    restart: always
    # CentOS 7 seems to require privileged access
    priviliged: true
    volumes:
      - .:/etc/gitlab-runner:Z
      - /var/run/docker.sock:/var/run/docker.sock:Z
